/* .AppLight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:auto;
  width:100%;
}

.AppDark {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color:azure;
  height:auto;
  width:100%;
}

.header{
  display: flex;
  flex:1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top:0px;
  left:0px;
  right:0px;
  background-color: dimgrey;
  opacity: 0.85;
}
.content{
  display: flex;
  flex:4;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer{
  display: flex;
  flex:1;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  background-color: darkblue;
  width:100%;
  height:1;
}

.footer span{
  color:white;
  margin-right:100px;
  padding:40px;
} */

.icons {
  cursor: pointer;
}

li{
  list-style: none;
}

a{
  color:white;
  text-decoration: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .AppLight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: azure;
    color: black;
    height: auto;
    width: 100vw;
  }

  .AppDark {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: azure;
    height: auto;
    width: 100vw;
  }



  .navButton {
    color: whitesmoke;
    background-color: rgb(3, 77, 119);
    border: 1px solid transparent;
    cursor: pointer;
    margin: 10px;
    padding: 7px;
    font-size: small;
    font-weight: 800;
  }
  
  .navButton:hover {
    color: rgb(3, 77, 119);
    background-color: whitesmoke;
    border: 1px solid rgb(3, 77, 119);
    cursor: pointer;
    margin: 10px;
    padding: 7px;
    font-size: small;
    font-weight: 800;
  }
  

  

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: darkblue;
    opacity: 0.85;
    max-width: 100vw;
    padding: 7px;
  }

  .headerOpen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: dimgrey;
    opacity: 0.85;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
  }
  .footer {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    background-color: darkblue;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    max-width: 100vw;
    height: 50px;
    padding: 7px;
    opacity: 0.9;
  }

  .footer span {
    color: rgb(18, 149, 224);
    margin-right: 10px;
    padding: 10px;
  }
  .footer section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .icons {
    cursor: pointer;
    margin: 10px;
  }

  .divRow {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
  }

  .divColumn {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
  }

  .details {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #282c34;
    padding: 7px;
    color: azure;
    width: 100%;
    height: 100%;
  }

  .image {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 25px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .AppLight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: azure;
    color: black;
    height: auto;
    width: 100vw;
  }

  .AppDark {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: azure;
    height: auto;
    width: 100vw;
  }
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: dimgrey;
    opacity: 0.85;
    max-width: 100vw;
    padding: 10px;
  }

  .headerOpen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: dimgrey;
    opacity: 0.85;
  }
  .content {
    display: flex;
    flex: 4;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .footer {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    background-color: darkblue;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    max-width: 100vw;
    height: 50px;
    padding: 7px;
    opacity: 0.9;
  }

  .footer span {
    color: rgb(18, 149, 224);
    margin-right: 10px;
    padding: 10px;
  }
  .footer section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .icons {
    cursor: pointer;
    margin: 10px;
  }

  .divRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    width: 80vw;
  }

  .divColumn {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .details {
    background-color: #282c34;
    padding: 10px;
    color: azure;
    width: 80%;
    height: 100%;
  }

  .image {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 15px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .AppLight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: azure;
    color: black;
    height: auto;
    width: 100vw;
  }

  .AppDark {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: azure;
    height: auto;
    width: 100vw;
  }
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: rgb(18, 149, 224);
    opacity: 0.85;
    max-width: 100vw;
    padding: 5px;
  }

  .content {
    display: flex;
    flex: 4;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .footer {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    background-color: rgb(3, 77, 119);
    position: relative;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100vw;
    height: 50px;
    padding: 7px;
    opacity: 0.9;
  }

  .footer span {
    color: rgb(18, 149, 224);
    margin-right: 10px;
    padding: 10px;
  }
  .footer section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .icons {
    cursor: pointer;
    margin: 10px;
  }

  .divRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    width: 80vw;
  }

  .divColumn {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .details {
    background-color: #282c34;
    padding: 20px;
    color: azure;
    width: 50vw;
    height: 100%;
  }

  .image {
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 45px;
  }
}
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 24px;
}

.slider:before {
  content: "";
  position: absolute;
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

/* Dark Mode (Checked State) */
input:checked + .slider {
  background-color: #333;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Icons */
.icon {
  position: absolute;
  font-size: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 0.3s;
}

.sun {
  left: 6px;
  color: gold;
}

.moon {
  right: 6px;
  color: white;
  opacity: 0;
}

input:checked + .slider .sun {
  opacity: 0;
}

input:checked + .slider .moon {
  opacity: 1;
}
