/* .AppLight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:auto;
  width:100%;
}

.AppDark {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color:azure;
  height:auto;
  width:100%;
}

.header{
  display: flex;
  flex:1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top:0px;
  left:0px;
  right:0px;
  background-color: dimgrey;
  opacity: 0.85;
}
.content{
  display: flex;
  flex:4;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer{
  display: flex;
  flex:1;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  background-color: darkblue;
  width:100%;
  height:1;
}

.footer span{
  color:white;
  margin-right:100px;
  padding:40px;
} */

.icons {
  cursor: pointer;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .AppLight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: azure;
    color: black;
    height: auto;
    width: 100vw;
  }

  .AppDark {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: azure;
    height: auto;
    width: 100vw;
  }
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: darkblue;
    opacity: 0.85;
    max-width: 100vw;
    padding: 10px;
  }

  .headerOpen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: dimgrey;
    opacity: 0.85;
  }
  .content {
    display: flex;
    flex: 4;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .footer {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    background-color: darkblue;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    max-width: 100vw;
    height: 50px;
    padding: 7px;
    opacity: 0.9;
  }

  .footer span {
    color: rgb(18, 149, 224);
    margin-right: 10px;
    padding: 10px;
  }
  .footer section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .icons {
    cursor: pointer;
    margin: 10px;
  }

  .divRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    width: 80vw;
    margin: 15px;
  }

  .divColumn {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .details {
    background-color: #282c34;
    padding: 10px;
    color: azure;
    width: 100vw;
    height: 100%;
  }

  .image {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .AppLight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: azure;
    color: black;
    height: auto;
    width: 100vw;
  }

  .AppDark {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: azure;
    height: auto;
    width: 100vw;
  }
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: dimgrey;
    opacity: 0.85;
    max-width: 100vw;
    padding: 10px;
  }

  .headerOpen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: dimgrey;
    opacity: 0.85;
  }
  .content {
    display: flex;
    flex: 4;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .footer {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    background-color: darkblue;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    max-width: 100vw;
    height: 50px;
    padding: 7px;
    opacity: 0.9;
  }

  .footer span {
    color: rgb(18, 149, 224);
    margin-right: 10px;
    padding: 10px;
  }
  .footer section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .icons {
    cursor: pointer;
    margin: 10px;
  }

  .divRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    width: 80vw;
  }

  .divColumn {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .details {
    background-color: #282c34;
    padding: 10px;
    color: azure;
    width: 100vw;
    height: 100%;
  }

  .image {
    display: none;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .AppLight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: azure;
    color: black;
    height: auto;
    width: 100vw;
  }

  .AppDark {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: azure;
    height: auto;
    width: 100vw;
  }
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: rgb(18, 149, 224);
    opacity: 0.85;
    max-width: 100vw;
    padding: 10px;
  }

  .content {
    display: flex;
    flex: 4;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .footer {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    background-color: rgb(3, 77, 119);
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    max-width: 100vw;
    height: 50px;
    padding: 7px;
    opacity: 0.9;
  }

  .footer span {
    color: rgb(18, 149, 224);
    margin-right: 10px;
    padding: 10px;
  }
  .footer section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .icons {
    cursor: pointer;
    margin: 10px;
  }

  .divRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    width: 80vw;
  }

  .divColumn {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .details {
    background-color: #282c34;
    padding: 10px;
    color: azure;
    width: 100vw;
    height: 100%;
  }

  .image {
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 45px;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #282c34;
}

input:focus + .slider {
  box-shadow: 0 0 1px #282c34;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: black;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.navButton {
  color: whitesmoke;
  background-color: rgb(3, 77, 119);
  border: 1px solid transparent;
  cursor: pointer;
  margin: 10px;
  padding: 7px;
  font-size: large;
  font-weight: 800;
}

.navButton:hover {
  color: rgb(3, 77, 119);
  background-color: whitesmoke;
  border: 1px solid rgb(3, 77, 119);
  cursor: pointer;
  margin: 10px;
  padding: 7px;
  font-size: large;
  font-weight: 800;
}

